$timeInMilliseconds: 250ms;
$idPrefix: "__amegmen";
$idPrefixData: "data-" + #{$idPrefix};
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;
  li {
    display: block;
  }
}
[#{$idPrefixData}] {
  position: relative;
  &,
  * {
    &,
    &:after,
    &:before {
      box-sizing: border-box;
    }
  }
  button:not(:disabled),
  [type='button']:not(:disabled),
  [type='reset']:not(:disabled),
  [type='submit']:not(:disabled) {
    cursor: pointer;
  }
  .#{$idPrefix}-hidden {
    display: none !important;
  }
  &.#{$idPrefix}-editmode {
    background-color: inherit;
  }
  [#{$idPrefixData}-level], [#{$idPrefixData}-grid] {
    @include horizontal-list;
  }
}


/**==================================**/
/**================xs================**/
[#{$idPrefixData}-viewport='xs'] {
  @import './breakpoints/_xs';
}

/**==================================**/
/**================sm================**/
[#{$idPrefixData}-viewport='sm'] {
  @import './breakpoints/_sm';
}

/**==================================**/
/**================md================**/
[#{$idPrefixData}-viewport='md'] {
  @import './breakpoints/_md';
}

/**==================================**/
/**================lg================**/
[#{$idPrefixData}-viewport='lg'] {
  @import './breakpoints/_lg';
}
