$timeInMilliseconds: 250ms;
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: block;
  }
}
[data-amegmen] {
  position: relative;
  &,
  * {
    &,
    &:after,
    &:before {
      box-sizing: border-box;
    }
  }
  button:not(:disabled),
  [type='button']:not(:disabled),
  [type='reset']:not(:disabled),
  [type='submit']:not(:disabled) {
    cursor: pointer;
  }
  .__amegmen-hidden {
    display: none !important;
  }
  &.__amegmen-editmode {
    background-color: inherit;
  }

  @import './breakpoints/default';

  &.__amegmen-medium {
    @import './breakpoints/medium';
  }
  &.__amegmen-large {
    @import './breakpoints/large';
  }
}
