[data-amegmen] {
  [data-amegmen-opencta],
  [data-amegmen-closecta] {
    display: none;
  }
  [data-amegmen-canvas] {
    background-color: #fff;
    height: auto;
    left: auto;
    position: static;
    top: auto;
    transform: translateX(0);
    transition: transform $time250 ease;
    width: 100%;
    z-index: 0;
  }
  [data-amegmen-headerl0] {
    display: none;
  }
  [data-amegmen-navl0] {
    height: auto;
    left: auto;
    position: relative;
    top: auto;
    flex-direction: row;
    > li {
      &,
      > a {
      }
    }
  }
}
