@import './config/rem';
@import './config/em';
// @import './config/colors';

// $primary-dark: darken($primary, 10%);
// $secondary-dark: darken($secondary, 10%);

// $primary-light: lighten($primary, 10%);
// $secondary-light: lighten($secondary, 10%);

// $theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge((
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark
// ),
// $theme-colors);

$grid-breakpoints: (
  xs: 0,
  sm: em(572px),
  md: em(742px),
  lg: em(992px),
  xl: em(1172px),
);

$container-max-widths: (
  sm: rem(540px),
  md: rem(720px),
  lg: rem(960px),
  xl: rem(1140px),
);

$grid-columns: 12;
$grid-gutter-width: rem(16px);
$grid-row-columns: 6;

$font-family-sans-serif: 'Ubuntu', sans-serif;

$enable-responsive-font-sizes: true;

$xs: map-get($grid-breakpoints, 'xs');
// Small devices (landscape phones, 576px and up)
$sm: map-get($grid-breakpoints, 'sm');
// Medium devices (tablets, 768px and up)
$md: map-get($grid-breakpoints, 'md');
// Large devices (desktops, 992px and up)
$lg: map-get($grid-breakpoints, 'lg');
// Extra large devices (large desktops, 1200px and up)
$xl: map-get($grid-breakpoints, 'xl');

$spacer: rem(16px);
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 3.25,
    ),
    7: (
      $spacer * 3.5,
    ),
    8: (
      $spacer * 4,
    ),
    9: (
      $spacer * 4.5,
    ),
    10: (
      $spacer * 5,
    ),
  ),
  $spacers
);

$breadcrumb-divider: '\279C';

@import './../../../node_modules/bootstrap/scss/functions';
@import './../../../node_modules/bootstrap/scss/variables';
@import './../../../node_modules/bootstrap/scss/mixins';

@import './config/mixins';
