[data-amegmen-level='0'] {
  display: flex;
  flex-wrap: wrap;
  > li {
    width: 100%;
    > a {
      display: block;
    }
  }
}
[data-amegmen-subnavwrap] {
  visibility: hidden;
  position: absolute;
}
