<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <title>Carouzel - !(Just Another Carousel)</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
  <link href="/dist/styles/carouzel.min.css" rel="stylesheet" />
  <link href="/dist/styles/site.min.css" rel="stylesheet" />
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="icons/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="icons/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="icons/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="icons/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="icons/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="icons/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="icons/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="icons/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="icons/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="icons/android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="icons/favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="icons/favicon-16x16.png"
  />
  <link rel="icon" href="favicon.ico" />

  <link rel="manifest" href="manifest.json" />

  <meta name="msapplication-TileColor" content="#e9ecef" />
  <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png" />
  <meta name="theme-color" content="#e9ecef" />

  <meta
    name="description"
    content="Carouzel is a framework free light-weight carousel plugin, which is responsive, handles multiple configurations. It uses DOM hardware acceleration for animation effects."
  />
  <meta
    name="keywords"
    content="carousel, slider, scroll, fade, hardware, accelerated, acceleration, responsive, touch, swipe, easing, plugin, vanilla, native, typescript, javascript, css3, es6, es3"
  />
</head>
