$breakpoint: 768px;

$amegmen_menuheight: 480px;

$amegmen_nav_border: #284460;
$amegmen_link_border: #284460;

$amegmen_nav_bg: #284460;
$amegmen_nav_l1: lighten($amegmen_nav_bg, 7.5%);
$amegmen_nav_l2: lighten($amegmen_nav_l1, 7.5%);
$amegmen_nav_l3: lighten($amegmen_nav_l2, 7.5%);

$anchorLink: #fff;
$anchorVisited: #fff;
$anchorHover: #ccc;
$anchorActive: #fff;
$anchorFocus: #ccc;

$amegmen_common_width: 60px;
$amegmen_common_height: 60px;

$amegmen_animation_time: 500ms;
$amegmen_animation_easing: ease;

@mixin amegmen-animation($property: all) {
  transition: #{$property} $amegmen_animation_time $amegmen_animation_easing;
}