[#{$idPrefixData}-main], [#{$idPrefixData}-subnav] {
  height: 0;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}
[#{$idPrefixData}-main] {
  z-index: 9999;
}
[#{$idPrefixData}-subnav] {
  z-index: 2;
}